.hj {
    font-size: 25px;
    line-height: 37px;
    color: #333;
    margin-top: 10%;
}

.hj-img {
    width: 300px;
}


/* 除首页的其他页面的头部 */


/* pc */

@media screen and (min-width:1024px) {
    .rmp-footer {
        margin-top: 12%;
    }
    .elasticstack li {
        width: 800px;
        height: 500px;
        border-width: 10px 10px 10px 10px;
    }
    .hj-img {
        width: 100%;
        height: 480px;
    }
    .hj {
        font-size: 30px;
        color: #666;
        line-height: 36px;
        margin: 4% 0;
    }
    .header-img {
        max-width: 100%;
        min-height: 938px;
        margin-top: 95px;
        background-image: url(../images/about/about-big.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
    .left {
        width: 50%;
        float: left;
    }
    .right {
        width: 50%;
        padding: 7%;
        float: left;
    }
    .right-p {
        font-size: 30px;
        color: #666;
        line-height: 36px;
    }
    .right-p2 {
        color: #6a6a6a;
        font-size: 16px;
        line-height: 28px;
    }
    .about-bg {
        clear: both;
        width: 100%;
        height: 705px;
        background-image: url(../images/about/about-bg.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        overflow: hidden;
    }
    .white {
        width: 30%;
        height: 500px;
        background: #ffffff;
        padding: 3% 5%;
        margin-top: 5%;
        margin-left: 8%;
    }
    .white-p {
        font-size: 25px;
        line-height: 36px;
        color: #666;
    }
    .white-p2 {
        font-size: 16px;
        line-height: 1.88;
        color: #6a6a6a;
    }
}


/*phone<768 手机端 */

@media screen and (max-width: 767px) and (min-width: 360px) {
    .elasticstack {
        height: 250px;
    }
    .rmp-footer {
        margin-top: 10px;
    }
    .elasticstack li {
        width: 350px;
        height: 234px;
        border-width: 10px 10px 10px 10px;
    }
    .hj-img {
        height: 214px;
        width: 330px;
    }
    .hj {
        font-size: 22px;
        color: #666;
        line-height: 36px;
        margin: 4% 0;
    }
    .header-img {
        width: 100%;
        height: 400px;
        margin-top: 95px;
        background-image: url(../images/about/about-small.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .left {
        display: none;
    }
    .right {
        padding: 30px;
    }
    .right-p {
        font-size: 25px;
        color: #666;
        line-height: 36px;
    }
    .right-p2 {
        color: #6a6a6a;
        font-size: 13px;
        line-height: 22px;
    }
    .about-bg {
        clear: both;
        width: 100%;
        height: 500px;
        background-image: url(../images/about/about-bg.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        overflow: hidden;
    }
    .white {
        width: 88%;
        height: 400px;
        background: #ffffff;
        padding: 8% 5%;
        margin-top: 13%;
        margin-left: 5%;
    }
    .white-p {
        font-size: 22px;
        line-height: 36px;
        color: #666;
    }
    .white-p2 {
        font-size: 12px;
        line-height: 1;
        color: #6a6a6a;
    }
}


/*768<=pad<992*/

@media screen and (min-width: 768px) and (max-width: 991px) {
    .elasticstack {
        height: 500px;
    }
    .rmp-footer {
        margin-top: 12%;
    }
    .elasticstack li {
        width: 600px;
        height: 500px;
        border-width: 10px 10px 10px 10px;
    }
    .hj-img {
        width: 100%;
        height: 480px;
    }
    .hj {
        font-size: 30px;
        color: #666;
        line-height: 36px;
        margin: 4% 0;
    }
    .header-img {
        width: 100%;
        height: 300px;
        margin-top: 95px;
        background-image: url(../images/about/about-small.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .left {
        display: none;
    }
    .right {
        padding: 30px;
    }
    .right-p {
        font-size: 30px;
        color: #666;
        line-height: 36px;
    }
    .right-p2 {
        color: #6a6a6a;
        font-size: 16px;
        line-height: 28px;
    }
    .about-bg {
        clear: both;
        width: 100%;
        height: 500px;
        background-image: url(../images/about/about-bg.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        overflow: hidden;
    }
    .white {
        width: 88%;
        height: 400px;
        background: #ffffff;
        padding: 5% 5%;
        margin-top: 8%;
        margin-left: 5%;
    }
    .white-p {
        font-size: 22px;
        line-height: 36px;
        color: #666;
    }
    .white-p2 {
        font-size: 12px;
        line-height: 1;
        color: #6a6a6a;
    }
}


/* 横板平板 */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .elasticstack {
        height: 500px;
    }
    .rmp-footer {
        margin-top: 10%;
    }
    .header-img {
        max-width: 100%;
        min-height: 938px;
        margin-top: 95px;
        background-image: url(../images/about/about-big.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
    .left {
        width: 50%;
        float: left;
    }
    .right {
        width: 50%;
        padding: 3% 3%;
        float: left;
    }
    .right-p {
        font-size: 22px;
        color: #666;
        line-height: 30px;
    }
    .right-p2 {
        color: #6a6a6a;
        font-size: 13px;
        line-height: 20px;
    }
    .about-bg {
        clear: both;
        width: 100%;
        height: 705px;
        background-image: url(../images/about/about-bg.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        overflow: hidden;
    }
    .white {
        width: 50%;
        height: 500px;
        background: #ffffff;
        padding: 5% 5%;
        margin-top: 5%;
        margin-left: 8%;
    }
    .white-p {
        font-size: 25px;
        line-height: 36px;
        color: #666;
    }
    .white-p2 {
        font-size: 16px;
        line-height: 1.88;
        color: #6a6a6a;
    }
}


/* iphone5 */

@media screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) {
    .elasticstack {
        height: 250px;
    }
    .rmp-footer {
        margin-top: 10px;
    }
    .elasticstack li {
        width: 350px;
        height: 234px;
        border-width: 10px 10px 10px 10px;
    }
    .hj-img {
        height: 214px;
        width: 330px;
    }
    .hj {
        font-size: 22px;
        color: #666;
        line-height: 36px;
        margin: 4% 0;
    }
    .header-img {
        width: 100%;
        height: 400px;
        margin-top: 95px;
        background-image: url(../images/about/about-small.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .left {
        display: none;
    }
    .right {
        padding: 30px;
    }
    .right-p {
        font-size: 25px;
        color: #666;
        line-height: 36px;
    }
    .right-p2 {
        color: #6a6a6a;
        font-size: 13px;
        line-height: 22px;
    }
    .about-bg {
        clear: both;
        width: 100%;
        height: 500px;
        background-image: url(../images/about/about-bg.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        overflow: hidden;
    }
    .white {
        width: 88%;
        height: 400px;
        background: #ffffff;
        padding: 8% 5%;
        margin-top: 13%;
        margin-left: 5%;
    }
    .white-p {
        font-size: 22px;
        line-height: 36px;
        color: #666;
    }
    .white-p2 {
        font-size: 12px;
        line-height: 1;
        color: #6a6a6a;
    }
    .mobile-img {
        width: 90px;
        height: 90px;
        display: inline-block;
        margin-left: 3px;
    }
    .mobile-span3 {
        color: #fff;
        font-size: 13px;
        margin-left: 14%;
    }
    .hj-img {
        height: 214px;
        width: 270px;
    }
    .elasticstack li {
        width: 290px;
        height: 234px;
    }
}