            .wrapp2 .p1 {
                font-size: 40px;
                font-weight: 600;
                text-align: center;
                margin: 50px 0 0px 0;
                letter-spacing: 2px;
            }
            
            .wrapp2 .p2 {
                font-size: 20px;
                font-weight: 400;
                text-align: center;
                letter-spacing: 2px;
                color: rgb(77, 77, 77);
                margin: 10px 0 0 0;
            }
            
            .wrapp4 .p1 {
                font-size: 40px;
                font-weight: 600;
                text-align: center;
                margin: 50px 0 0px 0;
                letter-spacing: 2px;
            }
            
            .wrapp4 .p2 {
                font-size: 20px;
                font-weight: 400;
                text-align: center;
                letter-spacing: 2px;
                color: rgb(77, 77, 77);
                margin: 10px 0 0 0;
            }
            
            .wrapp5 .p1 {
                font-weight: 600;
                font-size: 40px;
                text-align: center;
                margin: 50px 0 30px 0;
                letter-spacing: 2px;
            }
            
            .wrapp3 .p1 {
                font-weight: 600;
                font-size: 40px;
                text-align: center;
                margin: 40px 0 40px 0;
                letter-spacing: 2px;
            }
            
            .grid {
                position: relative;
                margin: 0 auto;
                list-style: none;
                text-align: center;
                /* margin-bottom: 100px; */
            }
            
            .grid figure {
                position: relative;
                float: left;
                overflow: hidden;
                margin: 0;
                /*change here for spacing*/
                width: 33.333333333%;
                text-align: center;
                cursor: pointer;
            }
            
            .grid figure img {
                position: relative;
                display: block;
                max-width: 102%;
                opacity: 1;
            }
            
            .grid figure figcaption {
                position: relative;
                padding: 2em;
                color: #fff;
                text-transform: uppercase;
                font-size: 1.25em;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
            }
            
            .grid figure figcaption::before,
            .grid figure figcaption::after {
                pointer-events: none;
            }
            
            .grid figure figcaption {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
            
            .grid figure h2 {
                font-size: 65px;
                word-spacing: -0.15em;
                font-weight: 700;
            }
            
            .grid figure h2 {
                margin: 0;
            }
            
            figure.effect-oscar figcaption::before {
                position: absolute;
                top: 30px;
                right: 30px;
                bottom: 30px;
                left: 30px;
                border: 1px solid #fff;
                content: '';
            }
            
            figure.effect-oscar h2 {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);
                margin: 0;
                /* line-height: 1em;
-webkit-transition: -webkit-transform 0.35s;
transition: transform 0.35s;
-webkit-transform: translate3d(0, 100%, 0);
transform: translate3d(0, 100%, 0); */
            }
            
            figure.effect-oscar figcaption::before {
                opacity: 0;
                -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
                transition: opacity 0.35s, transform 0.35s;
                -webkit-transform: scale(0);
                transform: scale(0);
            }
            /* 
figure.effect-oscar:hover h2 {
-webkit-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
} */
            
            figure.effect-oscar:hover figcaption::before {
                opacity: 1;
                -webkit-transform: scale(1);
                transform: scale(1);
            }
            
            figure.effect-oscar:hover figcaption {
                background-color: rgba(0, 0, 0, 0.8);
            }
            
            figure.effect-oscar:hover img {
                opacity: 0.4;
            }
            
            @media screen and (max-width: 50em) {
                .grid figure {
                    width: 50%;
                }
            }
            
            @media (max-width: 639px) {
                .grid figure {
                    width: 100%;
                }
            }
            /* 客户 */
            /* pc */
            
            @media screen and (min-width: 1200px) {
                .contain1 {
                    width: 62%;
                }
                .single .img1 {
                    width: 236px;
                    height: 140px;
                }
                .single .img1 {
                    webkit-filter: grayscale(100%);
                    -moz-filter: grayscale(100%);
                    -ms-filter: grayscale(100%);
                    -o-filter: grayscale(100%);
                    filter: grayscale(100%);
                    filter: gray;
                    opacity: 0.3;
                }
                .single .img1:hover {
                    opacity: 1;
                    filter: grayscale(0%);
                    cursor: pointer;
                }
                .wrapp3 {
                    margin: 20px 0;
                }
            }
            
            @media screen and (max-width: 1119px) {
                .banner-sp {
                    display: none;
                }
            }
            /* 手机 */
            
            @media (max-width: 639px) {
                .contain1 {
                    width: 100%;
                }
                .single .img1 {
                    width: 75px;
                }
                .pre {
                    display: none;
                }
                .next {
                    display: none;
                }
            }
            
            .contain1 {
                margin: auto auto;
                overflow: hidden;
            }
            
            .single {
                width: 100%;
                height: 100%;
                position: relative;
                font-size: 0;
            }
            
            .single ul {
                list-style: none;
                white-space: nowrap;
                display: inline-block;
            }
            
            .single ul li {
                display: inline-block;
            }
            
            .single .img1 {
                vertical-align: top;
            }
            /* 宣传片案例 */
            
            a:hover,
            a:focus {
                text-decoration: none;
                outline: none;
                opacity: 0.8;
                color: #6195FF;
            }
            
             ::-moz-selection {
                background-color: #6195FF;
                color: #FFF;
            }
            
             ::selection {
                background-color: #6195FF;
                color: #FFF;
            }
            
            .section {
                position: relative;
            }
            
            .md-padding {
                padding-top: 30px;
                padding-bottom: 30px;
            }
            /* .bg-grey {
background-color: #FAFAFA;
border-top: 1px solid #EEE;
border-bottom: 1px solid #EEE;
} */
            
            @media only screen and (min-width: 768px) {
                /* dropdown */
            }
            
            .work {
                position: relative;
                padding: 15px;
            }
            
            .work .overlay {
                background: #1C1D21;
                position: absolute;
                top: 0px;
                left: 0px;
                right: 0px;
                bottom: 0px;
                opacity: 0;
                -webkit-transition: 0.2s opacity;
                transition: 0.2s opacity;
                -webkit-transition-delay: 0.2s;
                transition-delay: 0.2s;
            }
            
            .work:hover .overlay {
                -webkit-transition-delay: 0s;
                transition-delay: 0s;
                opacity: 0.8;
            }
            
            .work .work-content {
                position: absolute;
                left: 25px;
                right: 25px;
                top: 50%;
                text-align: center;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
            }
            
            .work .work-content h3 {
                -webkit-transform: translateY(100%);
                -ms-transform: translateY(100%);
                transform: translateY(100%);
                opacity: 0;
                color: #FFF;
                margin-bottom: 10px;
                -webkit-transition: 0.2s all;
                transition: 0.2s all;
                -webkit-transition-delay: 0.1s;
                transition-delay: 0.1s;
            }
            
            .work:hover .work-content h3 {
                -webkit-transform: translateY(0%);
                -ms-transform: translateY(0%);
                transform: translateY(0%);
                opacity: 1;
                -webkit-transition-delay: 0.1s;
                transition-delay: 0.1s;
            }
            
            .work .work-content span {
                display: block;
                text-transform: uppercase;
                -webkit-transform: translateY(100%);
                -ms-transform: translateY(100%);
                transform: translateY(100%);
                opacity: 0;
                color: #6195FF;
                margin-bottom: 5px;
                -webkit-transition: 0.2s all;
                transition: 0.2s all;
                -webkit-transition-delay: 0.2s;
                transition-delay: 0.2s;
            }
            
            .work:hover .work-content span {
                -webkit-transform: translateY(0%);
                -ms-transform: translateY(0%);
                transform: translateY(0%);
                opacity: 1;
                -webkit-transition-delay: 0s;
                transition-delay: 0s;
            }
            
            .work .work-link {
                text-align: center;
                margin-top: 20px;
                opacity: 0;
                -webkit-transition: 0.2s opacity;
                transition: 0.2s opacity;
            }
            
            .work .work-link a {
                display: inline-block;
                text-align: center;
            }
            
            .work:hover .work-link {
                -webkit-transition-delay: 0.2s;
                transition-delay: 0.2s;
                opacity: 1;
            }
            
            @media only screen and (max-width: 480px) {
                #portfolio [class*='col-xs'] {
                    width: 100%;
                }
            }
            
            .wrok_img1 {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);
                width: 90px;
            }
            
            .wrok_img2 {
                width: 70px;
                cursor: pointer;
            }
            
            .img-responsive {
                max-width: 100%;
            }
            /* 我们的服务 */
            
            .clearfix::after {
                clear: both;
                content: ".";
                display: block;
                height: 0;
                visibility: hidden
            }
            
            .trade-content {
                padding: 20px 0 60px 0;
            }
            
            .trade-title {
                font-size: 24px;
                text-align: center;
                margin: 50px 0;
                position: relative
            }
            
            .trade-title:before {
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                bottom: -19px;
                left: 50%;
                transform: translateX(-50%);
                border: 6px solid;
                border-color: #2b8ece transparent transparent
            }
            
            .trade-title:after {
                content: "";
                position: absolute;
                width: 52px;
                height: 3px;
                background-color: #2b8ece;
                bottom: -8px;
                left: 50%;
                transform: translateX(-50%)
            }
            
            .trade-box {
                width: 1200px!important;
                margin: 0 auto;
                position: relative;
                transition: all .3s ease
            }
            
            .trade-box-list {
                /* display: flex; */
                flex-direction: row;
                justify-content: center;
                align-items: center
            }
            
            .trade-box-item {
                flex: 1;
                text-align: center;
                position: relative;
                height: 400px;
                background: no-repeat center;
                background-size: 100% auto
            }
            
            .trade-content .trade-box-item:before {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                transition: all .4s cubic-bezier(.4, 0, .2, 1)
            }
            
            .trade-box-item a {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0
            }
            
            a,
            button,
            input,
            textarea {
                -webkit-tap-highlight-color: transparent;
                -moz-transition: all .3s ease;
                -webkit-transition: all .3s ease;
                transition: all .3s ease
            }
            
            .item-logo {
                margin: 0 auto;
                display: block
            }
            
            .trade-content .trade-box-item .item-logo {
                position: relative;
                margin-top: 120px;
                transition: all .4s cubic-bezier(.4, 0, .2, 1)
            }
            
            .item-logo img {
                display: block;
                margin: 0 auto;
                max-width: 100%
            }
            
            .item-title {
                font-size: 34px;
                font-weight: 700;
                color: #fff;
                padding: 20px 0;
                position: relative
            }
            
            .trade-content .item-title:before {
                content: "";
                position: relative;
                display: block;
                width: 20px;
                border-bottom: 2px solid #fff;
                margin: 0 auto 20px;
                transition: all .4s cubic-bezier(.4, 0, .2, 1)
            }
            
            .item-text {
                position: relative;
                transition: all .4s cubic-bezier(.4, 0, .2, 1);
                opacity: 0;
                margin-top: 10px
            }
            
            .item-text a {
                color: #fff;
                font-size: 18px;
                margin-bottom: 5px
            }
            
            .trade-content .item01 {
                background-image: url(../images/icon-at01.png)
            }
            
            .trade-content .item02 {
                background-image: url(../images/icon-at02.png)
            }
            
            .trade-content .item03 {
                background-image: url(../images/icon-at03.png)
            }
            
            .trade-content .item04 {
                background-image: url(../images/icon-at04.png)
            }
            
            .trade-content .item05 {
                background-image: url(../images/icon-at05.png)
            }
            
            .trade-content .trade-box-item:hover .item-text {
                display: block;
                opacity: 1;
                margin-top: 0
            }
            
            .trade-content .trade-box-item:hover:before {
                background-color: rgba(43, 142, 206, 0.8);
            }
            
            .trade-content .trade-box-item:hover .item-logo {
                margin-top: 80px
            }
            
            .trade-content .trade-box-item:hover .item-title:before {
                opacity: 0;
                margin-bottom: 0
            }
            /* pc端 */
            
            @media screen and (min-width: 1024px) {
                .trade-box-list {
                    display: flex;
                }
            }
            
            @media screen and (min-width: 768px) and (max-width: 991px) {
                .trade-box-list {
                    display: flex;
                }
            }
            /* iphone5 */
            
            @media screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) {
                .mobile-img {
                    width: 90px;
                    height: 90px;
                    display: inline-block;
                    margin-left: 3px;
                }
                .mobile-span3 {
                    color: #fff;
                    font-size: 13px;
                    margin-left: 14%;
                }
                .banner-p1 {
                    font-size: 23px;
                }
            }
            
            .item-text：hover p {
                color: #000;
            }