.lianxi-us {
    font-size: 24px;
    color: #666;
    line-height: 36px;
    margin-top: 10%;
    font-weight: 500;
}

.lianxi-name {
    font-size: 20px;
    line-height: 40px;
    margin-top: 10%;
    color: rgb(61, 61, 61);
    font-weight: 500;
}

.lianxi-p {
    color: gray;
}

.lianxi-line {
    padding-bottom: 5%;
    border-bottom: 2px solid rgb(238, 238, 238);
}

p {
    margin-bottom: 1%;
}


/* 除首页的其他页面的头部 */


/* pc */

@media screen and (min-width:1024px) {
    .header-img {
        max-width: 100%;
        min-height: 938px;
        margin-top: 95px;
        background-image: url(../images/lianxi/lianxi-big.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
    .container1 {
        min-width: 1200px;
    }
}


/*phone<768 手机端 */

@media screen and (max-width: 767px) and (min-width: 360px) {
    .header-img {
        width: 100%;
        height: 400px;
        margin-top: 95px;
        background-image: url(../images/lianxi/lianxi-small.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}


/*768<=pad<992*/

@media screen and (min-width: 768px) and (max-width: 991px) {
    .header-img {
        width: 100%;
        height: 300px;
        margin-top: 95px;
        background-image: url(../images/lianxi/lianxi-small.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}