html,body,ol,ul,li,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0;}　　/*这里不要用通配符*{margin:0;padding:0;}因为会遍及所有元素*/
html{font-size: 100px;}　　/*设置html根标签的字号大小为100px；为了使用rem；可以等比例放大缩小整体比例*/
body{font-family:"微软雅黑";font-size: 16px;}　　/*html{font-size: 100px;},此时不给body加字号大小，在给inline-block使用字体的时候排版会乱*/
b,strong{font-weight:normal;}
i,em{font-style:normal;}
ul,ol,li{list-style:none;}
a,u{text-decoration:none;}
h1,h2,h3,h4,h5,h6{font-size:16px;font-weight:normal;}   
img{border:0;display:block}
input,fieldset{outline: none;border:0;}
.clear_fix::after{content: " ";clear: both;display:block;height: 0;overflow: hidden;visibility: hidden;}　　/*万能清浮动*/
.clear_fix{zoom:1;}
