/* 左右排版css */

.content-block {
    margin-bottom: 50px;
}

.image-block img {
    width: 100%;
    height: 100%;
}

.block-title {
    margin-bottom: 50px;
}

.block-title h2 {
    margin: 0;
    color: #273167;
    font-size: 46px;
    font-weight: 400;
}


/* .feature-style-two .bgg1 {
        width: 300px;
        height: 300px;
        background: url(../images/rmp/rmp-bg.png) no-repeat;
        position: absolute;
        -webkit-animation: featureImgBounce 5s ease-in-out 0s infinite alternate;
        animation: featureImgBounce 5s ease-in-out 0s infinite alternate;
    }
    
    .feature-style-one .bgg2 {
        width: 500px;
        height: 500px;
        background: url(../images/rmp/rmp-bg.png) no-repeat;
        position: absolute;
        -webkit-animation: featureImgBounce 5s ease-in-out 0s infinite alternate;
        animation: featureImgBounce 5s ease-in-out 0s infinite alternate;
    }
    
    .feature-style-three .bgg3 {
        width: 500px;
        height: 500px;
        background: url(../images/rmp/rmp-bg.png) no-repeat;
        position: absolute;
        -webkit-animation: featureImgBounce 5s ease-in-out 0s infinite alternate;
        animation: featureImgBounce 5s ease-in-out 0s infinite alternate;
    } */

.feature-style-one .container hr.style-one {
    margin-bottom: 130px;
}

.feature-style-one .image-block {
    -webkit-animation: featureImgBounce 5s ease-in-out 0s infinite alternate;
    animation: featureImgBounce 5s ease-in-out 0s infinite alternate;
}

.feature-style-three .image-block {
    -webkit-animation: featureImgBounce 5s ease-in-out 0s infinite alternate;
    animation: featureImgBounce 5s ease-in-out 0s infinite alternate;
}

@-webkit-keyframes featureImgBounce {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
}

@keyframes featureImgBounce {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
}

.feature-style-one .content-block .block-title {
    margin-bottom: 50px;
}

.feature-style-one .content-block ul.feature-lists {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 54px;
}

.feature-style-one .content-block ul.feature-lists li {
    position: relative;
    color: #777B92;
    font-size: 20px;
    padding-left: 35px;
}

.feature-style-one .content-block ul.feature-lists li+li {
    margin-top: 10px;
}

.feature-style-one .content-block ul.feature-lists li i {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    color: #2b8ece;
}

.feature-style-two {
    padding-top: 120px;
}

.feature-style-two .image-block {
    -webkit-animation: featureImgBounce 5s ease-in-out 0s infinite alternate;
    animation: featureImgBounce 5s ease-in-out 0s infinite alternate;
}

.feature-style-two .image-block img {
    position: relative;
    z-index: 10;
}

.feature-style-two .content-block .block-title {
    margin-bottom: 50px;
}

.feature-style-two .content-block ul.feature-lists {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 54px;
}

.feature-style-two .content-block ul.feature-lists li {
    position: relative;
    color: #777B92;
    font-size: 20px;
    padding-left: 35px;
}

.feature-style-two .content-block ul.feature-lists li+li {
    margin-top: 10px;
}

.feature-style-two .content-block ul.feature-lists li i {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    color: #2b8ece;
}

.yw-timeline {
    margin-top: 100px;
    text-align: center;
}

.feature-style-three .content-block .block-title {
    margin-bottom: 50px;
}

.feature-style-three .content-block ul.feature-lists {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 54px;
}

.feature-style-three .content-block ul.feature-lists li {
    position: relative;
    color: #777B92;
    font-size: 20px;
    padding-left: 35px;
}

.feature-style-three .content-block ul.feature-lists li+li {
    margin-top: 10px;
}

.feature-style-three .content-block ul.feature-lists li i {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    color: #2b8ece;
}


/* 背景 */

.feature-style-two {
    padding-bottom: 30px;
}

.feature-style-one {
    padding-top: 8px;
    margin-top: 0;
    padding-bottom: 2px;
}

.feature-style-one .container {
    padding-bottom: 30px;
    margin-top: -20px;
}

.feature-style-three {
    padding-top: 100px;
}

.feature-style-three .container {
    padding-bottom: 30px;
}

.yw-timeline {
    padding-top: 120px;
    max-width: 1200px;
    margin: 0 auto;
}

.yw-app-h3 {
    margin: 50px 0 10px 0;
    font-weight: 300;
    font-size: 36px;
    color: #666;
    font-weight: 500;
}

.yw-timeline-sum {
    width: 95%;
    margin: 0 auto;
    padding: 30px 0;
    font-size: 18px;
    line-height: 25px;
    text-align: left;
    color: #626262;
}

.dowm {
    margin: 30px 0;
    width: 240px;
    height: 60px;
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    background: #2b8ece;
    -webkit-box-shadow: 0 10px 40px 0 rgba(166, 155, 103, 0.16);
    box-shadow: 0 10px 40px 0 rgba(166, 155, 103, 0.16);
    display: inline-block;
    border: none;
}

.dowm:hover {
    color: rgb(255, 255, 255);
    background: #000;
}

.col-lg-6 {
    position: relative;
}

.content-block {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.header-img {
    text-align: center;
}

.header-img .p1 {
    color: #ffffff;
    font-size: 75px;
    font-weight: 400;
    margin: 0 auto;
    position: relative;
    top: 250px;
    letter-spacing: 5px;
}

.header-img .p2 {
    color: #e4e4e4;
    font-size: 20px;
    position: relative;
    top: 280px;
    letter-spacing: 1px;
}

.header-img .p3 {
    color: #e4e4e4;
    font-size: 20px;
    position: relative;
    top: 260px;
    letter-spacing: 1px;
}

.header-img .img1 {
    display: inline;
    width: 170px;
    position: relative;
    top: 280px;
    right: 40px;
}

.header-img .img2 {
    display: inline;
    width: 170px;
    position: relative;
    top: 280px;
    right: 20px;
}

.header-img .img3 {
    display: inline;
    width: 40px;
    position: relative;
    top: 235px;
    left: 220px;
    cursor: pointer;
}

.header-img .div1 {
    margin: 0 auto;
    width: 150px;
    height: 150px;
    background-color: black;
    position: relative;
    top: 250px;
    left: 225px;
    background: url(../images/rmp/index.png) no-repeat center center;
    background-size: 100%;
}


/* 除首页的其他页面的头部 */


/* pc */

@media screen and (min-width:1024px) {
    .header-img {
        max-width: 100%;
        min-height: 938px;
        margin-top: 95px;
        background-image: url(../images/rmp/rmp-big.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
}


/*phone<768 手机端 */

@media screen and (max-width: 767px) and (min-width: 360px) {
    .header-img {
        width: 100%;
        height: 400px;
        margin-top: 95px;
        background-image: url(../images/rmp/rmp-small.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .feature-style-one {
        display: none;
    }
    .feature-style-two {
        display: none;
    }
    .feature-style-three {
        display: none;
    }
    .header-img .p1 {
        color: #ffffff;
        font-size: 35px;
        font-weight: 400;
        margin: 0 auto;
        position: relative;
        top: 100px;
        letter-spacing: 5px;
    }
    .header-img .p2 {
        color: #e4e4e4;
        font-size: 14px;
        position: relative;
        top: 110px;
        letter-spacing: 1px;
    }
    .header-img .p3 {
        color: #e4e4e4;
        font-size: 14px;
        position: relative;
        top: 90px;
        letter-spacing: 1px;
    }
    .header-img .img1 {
        display: inline;
        width: 100px;
        position: relative;
        top: 100px;
    }
    .header-img .img2 {
        display: inline;
        width: 100px;
        position: relative;
        top: 100px;
    }
    .header-img .img3 {
        z-index: 9999;
        display: inline;
        width: 30px;
        position: relative;
        top: 100px;
    }
    .yw-timeline {
        padding-top: 50px;
    }
    .yw-app-h3 {
        margin: 20px 0 10px 0;
    }
    .yw-timeline-sum {
        font-size: 16px;
    }
    .yw-app-h3 {
        font-size: 25px;
    }
    .yw-timeline-sum {
        padding: 15px 0;
    }
    .dowm {
        width: 150px;
        height: 50px;
    }
    .header-img .img1 {
        right: 10px;
    }
    .header-img .img2 {
        left: 10px;
    }
    .header-img .img3 {
        display: none;
    }
    .header-img .div1 {
        display: none;
    }
}


/*768<=pad<992*/

@media screen and (min-width: 768px) and (max-width: 991px) {
    .header-img {
        width: 100%;
        height: 300px;
        margin-top: 95px;
        background-image: url(../images/rmp/rmp-small.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .feature-style-one {
        display: none;
    }
    .feature-style-two {
        display: none;
    }
    .feature-style-three {
        display: none;
    }
    .header-img .p1 {
        color: #ffffff;
        font-size: 35px;
        font-weight: 400;
        margin: 0 auto;
        position: relative;
        top: 100px;
        letter-spacing: 5px;
    }
    .header-img .p2 {
        color: #e4e4e4;
        font-size: 14px;
        position: relative;
        top: 110px;
        letter-spacing: 1px;
    }
    .header-img .p3 {
        color: #e4e4e4;
        font-size: 14px;
        position: relative;
        top: 90px;
        letter-spacing: 1px;
    }
    .header-img .img1 {
        display: inline;
        width: 100px;
        position: relative;
        top: 100px;
    }
    .header-img .img2 {
        display: inline;
        width: 100px;
        position: relative;
        top: 100px;
    }
    .header-img .img3 {
        display: inline;
        width: 30px;
        position: relative;
        top: 100px;
    }
    .header-img .p1 {
        color: #ffffff;
        font-size: 35px;
        font-weight: 400;
        margin: 0 auto;
        position: relative;
        top: 70px;
        letter-spacing: 5px;
    }
    .header-img .p2 {
        color: #e4e4e4;
        font-size: 14px;
        position: relative;
        top: 80px;
        letter-spacing: 1px;
    }
    .header-img .p3 {
        color: #e4e4e4;
        font-size: 14px;
        position: relative;
        top: 60px;
        letter-spacing: 1px;
    }
    .header-img .img1 {
        display: inline;
        width: 100px;
        position: relative;
        top: 70px;
        left: -20px;
    }
    .header-img .img2 {
        display: inline;
        width: 100px;
        position: relative;
        top: 70px;
        left: 10px;
    }
    .header-img .img3 {
        display: none;
    }
    .header-img .div1 {
        display: none;
    }
}


/* 左右排版适配 */

@media(max-width: 1199px) {
    .feature-style-one .image-block img,
    .feature-style-two .image-block img,
    .feature-style-three .image-block img {
        width: 100%;
    }
    .block-title h2 {
        font-size: 35px;
    }
}

@media(max-width: 991px) {
    .feature-style-one .container hr.style-one {
        margin-bottom: 100px;
    }
    .feature-style-one .image-block,
    .feature-style-two .image-block {
        margin: 0;
        right: 0;
    }
    .feature-style-one .container {
        padding-bottom: 50px;
    }
}

.gengduo {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: #ccc;
}

.gengduo-img {
    margin: 0 auto;
    margin-top: 30px;
    width: 50px;
    margin-bottom: 10px;
}


/* iphone5 */

@media screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) {
    .header-img {
        width: 100%;
        height: 400px;
        margin-top: 95px;
        background-image: url(../images/rmp/rmp-small.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .feature-style-one {
        display: none;
    }
    .feature-style-two {
        display: none;
    }
    .feature-style-three {
        display: none;
    }
    .header-img .p1 {
        color: #ffffff;
        font-size: 35px;
        font-weight: 400;
        margin: 0 auto;
        position: relative;
        top: 100px;
        letter-spacing: 5px;
    }
    .header-img .p2 {
        color: #e4e4e4;
        font-size: 14px;
        position: relative;
        top: 110px;
        letter-spacing: 1px;
    }
    .header-img .p3 {
        color: #e4e4e4;
        font-size: 14px;
        position: relative;
        top: 90px;
        letter-spacing: 1px;
    }
    .header-img .img1 {
        display: inline;
        width: 100px;
        position: relative;
        top: 100px;
    }
    .header-img .img2 {
        display: inline;
        width: 100px;
        position: relative;
        top: 100px;
    }
    .header-img .img3 {
        z-index: 9999;
        display: inline;
        width: 30px;
        position: relative;
        top: 100px;
    }
    .yw-timeline {
        padding-top: 50px;
    }
    .yw-app-h3 {
        margin: 20px 0 10px 0;
    }
    .yw-timeline-sum {
        font-size: 16px;
    }
    .yw-app-h3 {
        font-size: 25px;
    }
    .yw-timeline-sum {
        padding: 15px 0;
    }
    .dowm {
        width: 150px;
        height: 50px;
    }
    .header-img .img1 {
        right: 10px;
    }
    .header-img .img2 {
        left: 10px;
    }
    .header-img .img3 {
        display: none;
    }
    .header-img .div1 {
        display: none;
    }
    .mobile-img {
        width: 90px;
        height: 90px;
        display: inline-block;
        margin-left: 3px;
    }
    .mobile-span3 {
        color: #fff;
        font-size: 13px;
        margin-left: 14%;
    }
}


/* .bg-ellipse {
    width: 300px;
    height: 300px;
    border-radius: 500px;
    background: #273167;
}

.bg-ellipse-1 {
    position: absolute;
    right: 1%;
    top: 116%;
    background: linear-gradient(44.11deg, rgba(139, 233, 223, 0.75) 8.94%, rgba(255, 255, 255, 0) 86.73%);
    -webkit-transform: rotate(-85.35deg);
    -ms-transform: rotate(-85.35deg);
    transform: rotate(-85.35deg);
    -webkit-animation: featureImgBounce 2s ease-in-out 0s infinite alternate;
    animation: featureImgBounce 2s ease-in-out 0s infinite alternate;
}

.bg-ellipse-2 {
    z-index: 1;
    position: absolute;
    left: 1%;
    top: 180%;
    background: linear-gradient(44.11deg, rgba(124, 177, 235, 0.6) 8.94%, rgba(255, 255, 255, 0) 86.73%);
    -webkit-transform: rotate(-21.57deg);
    -ms-transform: rotate(-21.57deg);
    transform: rotate(-21.57deg);
    -webkit-animation: featureImgBounce 2s ease-in-out 0s infinite alternate;
    animation: featureImgBounce 2s ease-in-out 0s infinite alternate;
}

.bg-ellipse-3 {
    z-index: 1;
    position: absolute;
    right: 1%;
    top: 265%;
    background: linear-gradient(44.11deg, rgba(245, 198, 39, 0.6) 8.94%, rgba(255, 255, 255, 0) 86.73%);
    -webkit-transform: scale(0.85) rotate(-63.95deg);
    -ms-transform: scale(0.85) rotate(-63.95deg);
    transform: scale(0.85) rotate(-63.95deg);
    -webkit-animation: featureImgBounce 2s ease-in-out 0s infinite alternate;
    animation: featureImgBounce 2s ease-in-out 0s infinite alternate;
} */